.button-style{
  background-color: #fc0000;
  color: #fff;
  border: 2px solid #ff0000;
  font-size: 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.button-style:hover {
  border-color: #2980b9;
}
.button-style:focus {
  border-color: #ff0000;
  border-style: dashed;
}