.button-style{
    background-color: #368c00fe;
    color: #fff;
    border: 2px solid #368c00fe;
    font-size: 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  .button-style:hover {
    border-color: #2980b9;
  }
  .button-style:focus {
    border-color: #368c00fe;
    border-style: dashed;
  }